:root {
  --brand-color: #212121;
  --text-color: #757575;
  --background-color: #ffffff;
  --link-color: #2196f3;
  --button-color: #f5f4fa;
  --background-second-color: #2f303a;
  --icon-color: #afb1b8;
}
/*COMMON*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

ul {
  list-style: none;
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
}
button {
  font-family: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.flex-container {
  display: flex;
  gap: 30px;
}

/*...................HEADER....................*/

.header-border {
  border-bottom: 1px solid #ececec;
}

.header-flex {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--link-color);
}
.header-color-logo {
  color: #000;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 46px;
  margin-left: 93px;
}

.link {
  position: relative;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--brand-color);
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--link-color);
}
.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: var(--link-color);
  border-radius: 2px;
}
.header-contakt {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.header-mail-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: block;
  fill: var(--text-color);
  gap: 10px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail-tel:hover,
.header-mail-tel:focus {
  color: var(--link-color);
  fill: var(--link-color);
}

/*...................................HERO......................*/
.hero-background {
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backgroungimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}

.hero-reset-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
  max-width: 696px;
  margin: auto;
}
.button-one {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  padding-top: 10px;
  padding-right: 42px;
  padding-bottom: 10px;
  padding-left: 42px;
  margin-top: 30px;
}
/*........................OUR ASPECTS.......................*/

.aspects-icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aspects-reset-padding {
  padding-bottom: 0;
}
.aspects-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--brand-color);
  margin-bottom: 10px;
  margin-top: 30px;
}
.aspects-text {
  line-height: 1.7;
  width: 270px;
}
/*............................OUR WORKS.....................*/

.title-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--brand-color);
  margin-bottom: 50px;
}
.work-item {
  position: relative;
}
.work-item img {
  display: block;
}
.lable {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  background: rgba(47, 48, 58, 0.8);
}

/*....................OUR EMPLOYEES...................*/

.employee-background {
  background: #f5f4fa;
}

.employee-discription {
  padding-top: 30px;
}

.employee-list-item {
  text-align: center;
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.title-third {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--brand-color);
  margin-bottom: 10px;
}
.employee-list-text {
  font-size: 16px;
  line-height: 1.19;
}
/*...SOCIALMEDIA EMPLOYEES...*/

.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
  padding-bottom: 30px;
}

.social {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social:hover,
.social:focus {
  fill: var(--background-color);
  background-color: var(--link-color);
}

/*...........................OUR CLIENTS.................*/

.icon-logo {
  width: 170px;
  height: 92px;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-logo:hover,
.icon-logo:focus {
  fill: var(--link-color);
  border: 1px solid var(--link-color);
}

/*.............................FOOTER........................*/
.footer {
  background: var(--background-second-color);
  padding-top: 68px;
  padding-bottom: 52px;
}
.flex-footer {
  display: flex;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}
.footer-color-logo {
  color: var(--background-color);
}

.footer-address-flex {
  display: flex;
  flex-direction: column;
}
.footer-address,
.footer-mail-tel {
  line-height: 1.71;
  color: var(--background-color);
  text-decoration: none;
  margin-bottom: 9px;
}
.footer-reset-margin {
  margin-bottom: 0;
}
.footer-mail-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail-tel:hover,
.footer-mail-tel:focus {
  color: var(--link-color);
}

.social-footer {
  margin-left: 70px;
  padding-top: 12px;
}

.social-footer-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.social-footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin: 0;
}

.social-footer-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--background-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-icon:hover,
.social-footer-icon:focus {
  background-color: var(--link-color);
}

/*.....FOOTER FORM........ */

.footer-form-flex {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-left: 93px;
}
.lable-footer {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  padding-bottom: 20px;
  margin-top: 12px;
}
.input-footer {
  display: block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 0 0 0 16px;
  margin: 0;
  background-color: #2f303a;
}

.footer-submit {
  position: relative;
}
.submit-footer {
  width: 200px;
  height: 50px;
  color: var(--background-color);
  background: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: left;
  padding: 0 0 0 28px;
  margin-top: 47px;
  border-style: none;
  cursor: pointer;
}
.send-submit {
  position: absolute;
  top: 50%;
  left: 148px;
  transform: translateY(-50%);
  fill: var(--background-color);
}
/*.......................BUTTONS POrtfolio................*/
.flex-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 54px;
}
.button-two {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--brand-color);
  text-decoration: none;
  background: var(--button-color);
  border-radius: 4px;
  border-color: var(--button-color);
  border-style: none;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-two:hover,
.button-two:focus {
  background-color: var(--link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--background-color);
}

/*.............................CARDS.......................*/

.card-flex {
  flex-wrap: wrap;
}
.card-item {
  background: var(--background-color);
  flex-basis: calc((100% - 63px) / 3);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-item:hover,
.card-item:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-item img {
  display: block;
}
.card-overlay-container {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 49px;
  padding-left: 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-item:hover .card-overlay {
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}
.card-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--background-color);
}
.card-discription {
  border: 1px solid #eeeeee;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  margin-bottom: 4px;
}
.card-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color);
}
/*..............................MODAL...........................*/

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  transform: scaley(0);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  color: var(--link-color);
}
/*..........MODAL-FORM*...........*/

.form-box {
  margin: 0;
  padding: 0;
}

.form-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--brand-color);
  margin-top: 40px;
}

.box-input {
  position: relative;
}

.box-input > label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
  display: block;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(50% -50%);
}

.input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
}

.box-input > textarea {
  height: 120px;
  width: 448px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  font-family: "Roboto";
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
}

textarea::placeholder {
  color: rgba(33, 33, 33, 0.5);
}

.form-checkbox {
  margin-top: 10px;
}

.checbox {
  appearance: none;
}

.lable-checbox {
  position: relative;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.lable-checbox::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 2px;
  left: -23px;
  transform: translateX(50% -50%);
}
.checbox:checked + .lable-checbox::before {
  background-color: var(--link-color);
  border: none;
  background-image: url(../images/iconcheck.svg);
  background-size: contain;
}

.link-form {
  color: var(--link-color);
}

.submit-input-modal {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: var(--background-color);
  background: var(--link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  margin-top: 30px;
}

.box-input:focus-within {
  fill: #2196f3;
}
.input:focus,
textarea:focus {
  outline: 1px solid #2196f3;
}
